#root {
 width: 100%;
  /* margin: 0 auto; */
 
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  padding-top: 15px;
  /* font-family: Arial, sans-serif; */
  /* background-color: #1a1a1a; */
  /* background-image: url(./public/food\ wallpaper.avif); */
  background-image: url(/wallpaper.avif);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  pointer-events: none; 
  z-index: -1; 
} */


/* ----- Header styling ----- */

.hero {
  /* background-color: #1a1a1a; */ 
  background-color: rgba(0, 0, 0, .95); /* Ask */
  /* background-image: url(./public/collage-various-food-products-260nw-1114876286.webp); */
  /* width: 100%; */
  color: #1a1a1a;
  max-width: 1800px; /* Ask */
  border-radius: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  font-family: 'Comic Sans MS';
}

.hero h1{
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  font-family:'Comic Sans MS';
  font-size: 4rem;
  color: whitesmoke;
  text-align: center;
  position: relative;
  animation: flicker 1.5s infinite alternate;
  text-shadow: 
    1px 1px 2px #000,
    2px 2px 4px #000,
    3px 3px 6px #000,
    4px 4px 8px #000,
    5px 5px 10px #f00,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #f00,
    0 0 50px #f00,
    0 0 60px #f00,
    0 0 70px #f00,
    0 0 80px #f00;
  z-index: 1; /* Ensure text is above background */
}

/* ----- Header styling ----- */

/* ----- Nav bar styling ----- */

.navbar {
  /* background-color: #1a1a1a; */ /* Ask */
  /* width: 100%; */
  /* padding: 10px 0; */
  display: flex;
  justify-content: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1); */
  /* padding: 10px; */
  /* text-align: center; */
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid transparent; /* Ensure there's a border */
  border-radius: 20px; /* Adjust the border radius as needed */
  transition: box-shadow 0.3s ease, outline 0.3s ease; /* Smooth transition */
  position: relative; /* Ensure relative positioning for absolute box shadow */
}

.navbar a:hover {
  /* background-color: #f00; */
  box-shadow: 0 0 10px #f00; /* Red glowing effect */
  outline: 2px solid #f00; /* Red outline */
  animation: flicker 1.5s infinite alternate;
  text-shadow: 
  1px 1px 2px #000,
  2px 2px 4px #000,
  3px 3px 6px #000,
  4px 4px 8px #000,
  5px 5px 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 40px #f00,
  0 0 50px #f00,
  0 0 60px #f00,
  0 0 70px #f00,
  0 0 80px #f00;
  z-index: 1; /* Ensure text is above background */
}

/* ----- Nav bar styling ----- */

/* ----- Key frames flicker for header and nav  ----- */

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 24%, 55% {
    opacity: 0.4;
  }
}

/* ----- Key frames flicker for header and nav  ----- */

/* ----- Intro styling ----- */

.intro {
  max-width: 1250px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, .95);
  border-radius: 20px;
  font-family:'Comic Sans MS';
}

.intro h2 {
  font-size: 24px;
  color: whitesmoke;
  text-shadow: 
  1px 1px 2px #000,
  2px 2px 4px #000,
  3px 3px 6px #000,
  4px 4px 8px #000,
  5px 5px 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 40px #f00,
  0 0 50px #f00,
  0 0 60px #f00,
  0 0 70px #f00,
  0 0 80px #f00;
  z-index: 1;
}

.intro p {
  color: whitesmoke;
}

/* ----- Intro styling ----- */

/* ----- home page photos ------ */

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-wrap: nowrap; */
  overflow-x: auto; /* Enables horizontal scrolling if needed */
  padding: 10px;
  gap: 20px; /* Adds space between items */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth; /* Smooth scrolling for better UX */
}

/* .photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: fit-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
} */

.photo-item {
  /* width: 20%;  */
  /* justify-content: space-between; */
  /* text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; */
  /* gap: 10px; */
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 auto; /* Prevent items from shrinking or growing */
  text-align: center;
  margin: 0 10px; /* Adjust margin as needed */
}

.photo-wrapper {
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* position: relative; */
  width: 350px;
  height: 600px;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* display: flex; */
}

.photo-wrapper img {
  /* flex-shrink: 0; */
  /* justify-content: center; */
  /* object-fit: cover; */
  width: 225px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.95);
  transition: transform 0.3s;
}

.photo-wrapper h3 {
  font-size: 20px;
  font-family:'Comic Sans MS';
  color: whitesmoke;
  text-shadow: 
  1px 1px 2px #000,
  2px 2px 4px #000,
  3px 3px 6px #000,
  4px 4px 8px #000,
  5px 5px 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 40px #f00,
  0 0 50px #f00,
  0 0 60px #f00,
  0 0 70px #f00,
  0 0 80px #f00;
  z-index: 1;
}

.photo-wrapper p {
  color: whitesmoke;
  font-family:'Comic Sans MS';
}

@media (max-width: 430px) {
  .photo-gallery {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }

  .photo-item {
    flex: 1 1 100%; /* Make items take full width */
    max-width: 100%;
    margin: 10px 0; /* Adjust margin as needed */
  }
}

/* ----- home page photos  ------ */

/* ----- Error styling ----- */

.error-page {
  max-width: 1000px;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, .95);
  border-radius: 20px;
  font-family:'Comic Sans MS';
}

.error-page h1 {
  color: whitesmoke;
  text-shadow: 
  1px 1px 2px #000,
  2px 2px 4px #000,
  3px 3px 6px #000,
  4px 4px 8px #000,
  5px 5px 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 40px #f00,
  0 0 50px #f00,
  0 0 60px #f00,
  0 0 70px #f00,
  0 0 80px #f00;
  z-index: 1;
}

.error-page p {
  color: whitesmoke;
}

/* ----- Error styling ----- */

/* Common styling for both login and signup containers */

.container {
  margin-right:auto;
  margin-left: auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 8px;
  border: 5px solid #1a1a1a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  width: 300px;
}

.container h2 {
  margin-top: 0;
  font-family:'Pacifico', cursive;
  color: whitesmoke;
  text-shadow: 
  1px 1px 2px #000,
  2px 2px 4px #000,
  3px 3px 6px #000,
  4px 4px 8px #000,
  5px 5px 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 40px #f00,
  0 0 50px #f00,
  0 0 60px #f00,
  0 0 70px #f00,
  0 0 80px #f00;
  z-index: 1;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  margin: 10px 0 5px;
}

.container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container button {
  padding: 10px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container:hover {
  box-shadow: 0 0 10px #f00; /* Red glowing effect */
  outline: 2px solid #f00; /* Red outline */
}

.container button:hover {
  background-color: #1a1a1a;
  box-shadow: 0 0 10px #f00; /* Red glowing effect */
  outline: 2px solid #f00; /* Red outline */
  animation: flicker 1.5s infinite alternate;
  text-shadow: 
    1px 1px 2px #000,
    2px 2px 4px #000,
    3px 3px 6px #000,
    4px 4px 8px #000,
    5px 5px 10px #f00,
    0 0 20px #f00,
    0 0 30px #f00,
    0 0 40px #f00,
    0 0 50px #f00,
    0 0 60px #f00,
    0 0 70px #f00,
    0 0 80px #f00;
  z-index: 1; /* Ensure text is above background */
}

/* Common styling for both login and signup containers */

/* Specific styling for login container */
/* .login-container .signup-link {
  text-align: center;
  margin-top: 10px;
} */

/* .login-container .signup-link a {
  color: #007bff;
  text-decoration: none;
} */

/* .login-container .signup-link a:hover {
  text-decoration: underline;
} */

/* Specific styling for signup container */
/* .signup-container .login-link {
  text-align: center;
  margin-top: 10px;
} */

/* .signup-container .login-link a {
  color: #007bff;
  text-decoration: none;
} */

/* .signup-container .login-link a:hover {
  text-decoration: underline;
} */

/* styling for userProfile.jsx */

/* Basic styling for the user profile container */
.user-profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Heading style */
.user-profile h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

/* Input field styling */
.user-profile input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button styling */
.user-profile button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.user-profile button:hover {
  background-color: #0056b3;
}

/* Loading and error message styling */
.user-profile p {
  font-size: 16px;
  color: #666666;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
text-decoration: none;
font-size: 32px;
color: whitesmoke;
font-family:'Comic Sans MS';
text-shadow: 
1px 1px 2px #000,
2px 2px 4px #000,
3px 3px 6px #000,
4px 4px 8px #000,
5px 5px 10px #f00,
0 0 20px #f00,
0 0 30px #f00,
0 0 40px #f00,
0 0 50px #f00,
0 0 60px #f00,
0 0 70px #f00,
0 0 80px #f00;
z-index: 1; /* Ensure text is above background */
}

h1:hover {
  animation: flicker 1.5s infinite alternate;
  text-shadow: 
  1px 1px 2px #000,
  2px 2px 4px #000,
  3px 3px 6px #000,
  4px 4px 8px #000,
  5px 5px 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 40px #f00,
  0 0 50px #f00,
  0 0 60px #f00,
  0 0 70px #f00,
  0 0 80px #f00;
  z-index: 1; /* Ensure text is above background */
}

h2 {
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.95);
  color: whitesmoke;
  border-radius: 30px;
  border: 1px solid whitesmoke;
  padding: 10px;
}

p { 
  font-size: 18px;
}

/* Restaurant list styling */
.restaurant-list {
  margin-top: 20px;
}

.restaurant-list div {
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
}

.restaurant-list p {
  margin: 5px 0;
  font-size: 14px;
}

.image {
border-radius: 10px;
}

/* ----- Footer Styling ------ */

footer {
  font-size: 48px;
  justify-content: center;
}

footer a {
  width: 70px;
  height: 70px;
  background-color: whitesmoke;
  /* background-color: #1a1a1a; */
  text-align: center;
  line-height: 65px;
  font-size: 35px;
  margin: 10px 5px;
  display: block;
  border-radius: 40%;
  position: relative;
  overflow: hidden;
  border: 5px solid #1a1a1a;
  z-index: 1;
}

footer a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
  line-height: 2.0;
}

footer a {
  position: relative;
  /* color: #262626; */
  transition: .5s;
  z-index: 3;
  line-height: 1.5;
}

footer a .icon:hover {
  opacity: 1;
  color: whitesmoke;
  transform: rotateY(360deg);
  animation: flicker 1.5s infinite alternate;
  text-shadow: 
  1px 1px 2px #000,
  2px 2px 4px #000,
  3px 3px 6px #000,
  4px 4px 8px #000,
  5px 5px 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 40px #f00,
  0 0 50px #f00,
  0 0 60px #f00,
  0 0 70px #f00,
  0 0 80px #f00;
  z-index: 1; /* Ensure text is above background */
}

footer a :before {
  content: "";
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #f00; */
  transition: .5s;
  z-index: 2;
}

footer a .icon:hover:before {
  top: 0;
}

/* .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  text-align: center;
} */

.flex-row {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: fit-content;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.footer-bottom p {
  margin-top: 20px; /* Add space above the paragraph */
  font-family: 'Comic Sans MS';
  text-align: center; /* Center align the text */
  color: whitesmoke; /* White text color */
  font-size: 14px; /* Adjust font size */
  border-radius: 20px; /* Adjust border radius */
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, .95);
  background-size: contain;
  padding: 0px;
  color: whitesmoke;
  border-radius: 20px;
}

/* .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
} */

/* a {
  color: inherit;
  text-decoration: none;
} */

/* a:hover i {
  color: #fff; 
} */

/* a i {
  margin: 0 10px;
} */

/* ----- Footer Styling ------ */

.loader {
  font-size: 50px; /* Adjust size as needed */
  animation: spin .4s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
